<table>
 <% @users.each do |user| %>

	<tr>
		<%= user.first_name%>
	</tr>
<tr>
		<%= user.last_name%>
	</tr>
<tr>
		<%= user.email%>
	</tr>
<tr>
		<%= user.username%>
	</tr>
<tr>
		<%= user.active%>
	</tr>

<% end %>
</table>