<div class="col-sm-offset-1">Hello there!</div>
  <%= form_for @user do |f|%>
  <% if @user.errors.any? %>
  <% @user.errors.full_messages.each do|msg| %>
  <p class="form-group has-error"><%= msg %></p>
  <% end %>
  <% end %>
  <div class='form-horizontal row col-xs-3'>
  <div class = "form-group">
    <%= label_tag 'firstname', nil, class: 'col-sm-offset-1 control-label' %>
    <%= f.text_field :first_name, class: "form-control col-sm-offset-1", placeholder: "Enter first name" %>
  </div>
  <div class = "form-group">
    <%= label_tag 'lastname', nil, class: 'col-sm-offset-1 control-label' %>
    <%= f.text_field :last_name, class: "form-control col-sm-offset-1", placeholder: "Enter last name" %>
  </div>
  <div class = "form-group">
    <%= label_tag 'email', nil, class: 'col-sm-offset-1 control-label' %>
    <%= f.text_field :email, class: "form-control col-sm-offset-1", placeholder: "Enter your email address" %>
  </div>
  <div class = "form-group">
    <%= label_tag 'username', nil, class: 'col-sm-offset-1 control-label' %>
    <%= f.text_field :username, class: "form-control col-sm-offset-1", placeholder: "Enter Username"%>
  </div>
  <div class = "form-group">
    <%= label_tag 'password', nil, class: 'col-sm-offset-1 control-label' %>
    <%= f.password_field :password, class: "form-control col-sm-offset-1", placeholder: "Enter password" %>
  </div> 
  <div class="form-inline form-group">
    <div class="checkbox col-sm-offset-1">
      <label>Active</label>
        <%= f.check_box :active %>
    </div>
  </div>
  <div class = "form-group">
    <div class="col-sm-offset-1">
      <%= f.submit :submit , class: "btn btn-primary" %>
    </div>
  </div>
<%end%>