<table>

	<tr>
	<td>First name</td>
	<td><%= @user.first_name%></td>
	</tr>
<tr>
	<td>Last Name</td>
 	<td><%= @user.last_name%></td>
	</tr>
<tr>
<td>Email</td>
		<td><%= @user.email%></td>
	</tr>
<tr>
<td>User Name</td>
		<td><%= @user.username%>
</td>	</tr>
<tr>
<td>Status</td>
<td>
		<%= @user.active%>
</td>	</tr>

</table>

<p> <%= link_to "Edit", edit_user_path(@user.id) %>
</p>
