<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class= "nav nav-tabs" >
  <% if session[:current_user_id] %>
    <% active = current_page?(controller: 'users', action: 'show', id: session[:current_user_id]) ? "active" : ""%>
    <li role="presentation" class = "#{active}">     
    <%= link_to "View my profile", user_path(session[:current_user_id]) %>
    </li>
    <% if (controller.controller_name == "blog_lists" &&  controller.action_name != "index") %>
    <li role= "presentation" > <%= link_to "View blogs", blog_lists_path %> </li>
    <% end %>
    <% if (controller.controller_name != "blog_lists" &&  controller.action_name != "my_blogs") %>
    <li role = "presentation"><%= link_to "View my blogs", my_blogs_blog_lists_path %> </li>
    <% end %>
    <li role="presentation"> <%= link_to "Logout", logout_session_path %> </li> 
  <%end%>
</ul>
<div class = "content">
  <%= yield %>
</div>
</body>
</html>